.player{
    box-sizing: border-box;
    width: inherit;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: rgb(0, 31, 56);
}